src/.python-version
src/__pycache__
src/repeat_interleave/__pycache__
src/feature-extraction/__pycache__
src/dp/.python-version
src/dp/data
src/imagenet-folders/.python-version
src/feature-extraction/.python-version
src/relu_init/.python-version
src/ddp/.python-version
src/metal_ops/__pycache__
src/metal_ops/.python-version
src/mps_profile/.python-version
src/nccl/.python-version
src/tensor_cloud/.python-version
src/flops-test/.python-version